.section {
    padding-bottom: 150px;
}

#why-learn-emacs-and-lisp--row {
    background-color: #444444; /*#004400;*/
    color: OldLace;
}

#why-learn-emacs-and-lisp--row * h2 {
    color: DarkOrange !important;
}

#why-learn-emacs-and-lisp--row * h3 {
    color: DarkOrange !important;
}

p a[href="/series/done-so-far"] {
    font-size: 26pt;
}

.prewrapper {
    float: right;
    margin-left: 30px;
    margin-right: -50px;
}

.prewrapper p {
    text-align: right;
    font-size: 14pt;
}

img {
    float: right;
}

h2 {
    font-size: 36pt;
}

table {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #EDE5D6 !important;
}

table thead th {
    border-bottom: thin solid #444444;
}

table * td {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px !important;
}
